/PTGLgraphComputation/build/
/PTGLgraphComputation/dist/
/PTGLgraphComputation/nbproject/private/
/PTGLgraphComputation/nbproject/configs/
/PTGLgraphComputation/nbproject/genfiles.properties

.directory

/splitpdb/.gradle/
/splitpdb/src/splitpdb_new/nbproject/private/
/splitpdb/src/splitpdb_new/build/
/splitpdb/src/splitpdb_new/dist/
