#These is a template file for the PTGLgraphComputation settings on a cluster. You have to copy it to ~/.PTGLgraphComputation_settings of the user who runs the cluster job so PTGLgraphComputation will use it.
#See the documentation for info on the settings.

PTGLgraphComputation_I_img_minPageWidth=800
PTGLgraphComputation_I_skip_num_atoms_threshold=80000
PTGLgraphComputation_I_img_margin_right=40
PTGLgraphComputation_B_debug_compareSSEContacts=false
PTGLgraphComputation_B_img_output_format_SVG=true
PTGLgraphComputation_B_graphtype_albe=true
PTGLgraphComputation_B_foldgraphtype_SEQ=true
PTGLgraphComputation_B_img_output_format_PDF=true
PTGLgraphComputation_B_output_images_dir_tree=false
PTGLgraphComputation_I_min_fgraph_size_draw=3
PTGLgraphComputation_S_search_similar_method=string_sse
PTGLgraphComputation_I_img_vert_dist=50
PTGLgraphComputation_B_output_textfiles_dir_tree=false
PTGLgraphComputation_S_search_similar_graphtype=albelig
PTGLgraphComputation_S_graph_image_base_path=/srv/www/htdocs/vplgweb/data/
PTGLgraphComputation_B_kavosh_format_directed=true
PTGLgraphComputation_B_foldgraphtype_RED=true
PTGLgraphComputation_S_graph_metadata_splitstring=|
PTGLgraphComputation_I_spatrel_dd_smallest_parallel_hh=8
PTGLgraphComputation_I_min_SSE_length=3
PTGLgraphComputation_I_spatrel_dd_smallest_parallel_he=6
PTGLgraphComputation_I_img_min_arc_height=100
PTGLgraphComputation_I_merge_helices_max_dist=0
PTGLgraphComputation_B_output_plcc=true
PTGLgraphComputation_B_output_compgraph_kavosh=false
PTGLgraphComputation_S_db_name=vplg
PTGLgraphComputation_B_warn_cfg_fallback_to_default=false
PTGLgraphComputation_B_ptgl_geodat_output=false
PTGLgraphComputation_B_graphimg_legend=true
PTGLgraphComputation_B_output_TGF=false
PTGLgraphComputation_I_aa_atom_radius=20
PTGLgraphComputation_S_ligSSECode=L
PTGLgraphComputation_I_spatrel_dd_largest_antip_def=-7
PTGLgraphComputation_B_Jmol_graph_vis_commands=true
PTGLgraphComputation_B_foldgraphtype_KEY=true
PTGLgraphComputation_I_img_header_height=40
PTGLgraphComputation_B_skip_too_large=false
PTGLgraphComputation_I_db_port=5432
PTGLgraphComputation_S_db_password=vplg
PTGLgraphComputation_B_uglySQLhacks=false
PTGLgraphComputation_S_img_default_font=TimesRoman
PTGLgraphComputation_I_search_similar_num_results=5
PTGLgraphComputation_B_force_chain=false
PTGLgraphComputation_S_forced_chain_id=A
PTGLgraphComputation_B_silent=true
PTGLgraphComputation_I_lig_min_atoms=1
PTGLgraphComputation_S_db_username=vplg
PTGLgraphComputation_B_output_DOT=false
PTGLgraphComputation_S_ligAACode=J
PTGLgraphComputation_B_graphtype_alpha=true
PTGLgraphComputation_I_ligSAS=20
PTGLgraphComputation_B_html_add_complex_graph_data=true
PTGLgraphComputation_B_graphtype_beta=true
PTGLgraphComputation_I_spatrel_dd_smallest_parallel_def=7
PTGLgraphComputation_S_temp_dir=.
PTGLgraphComputation_B_output_compgraph_TGF=false
PTGLgraphComputation_B_ramachandran_plot=false
PTGLgraphComputation_I_spatrel_dd_largest_antip_ee=0
PTGLgraphComputation_I_img_default_font_size=16
PTGLgraphComputation_B_graphtype_albelig=true
PTGLgraphComputation_B_img_output_format_PNG=true
PTGLgraphComputation_B_round_coordinates=true
PTGLgraphComputation_I_img_legend_font_size=16
PTGLgraphComputation_S_debug_compareSSEContactsFile=geo.dat_ptgl
PTGLgraphComputation_S_img_output_fileext=.png
PTGLgraphComputation_S_search_similar_PDBID=8icd
PTGLgraphComputation_I_defaultModel=1
PTGLgraphComputation_I_img_text_line_height=40
PTGLgraphComputation_I_img_margin_left=80
PTGLgraphComputation_B_draw_graphs=true
PTGLgraphComputation_B_graphimg_footer=true
PTGLgraphComputation_B_calc_draw_graphs=true
PTGLgraphComputation_B_output_compgraph_DOT=false
PTGLgraphComputation_B_output_eld=true
PTGLgraphComputation_S_db_host=ixion41
PTGLgraphComputation_B_separate_contacts_by_chain=false
PTGLgraphComputation_B_add_metadata_comments_DOT=false
PTGLgraphComputation_I_img_vert_radius=10
PTGLgraphComputation_B_output_kavosh=false
PTGLgraphComputation_S_img_output_format=PNG
PTGLgraphComputation_B_ptgl_text_output=false
PTGLgraphComputation_B_split_dsspfile_warning=true
PTGLgraphComputation_B_complex_graph_mere=false
PTGLgraphComputation_B_contact_debug_dysfunct=false
PTGLgraphComputation_I_img_margin_top=40
PTGLgraphComputation_B_output_GML=true
PTGLgraphComputation_I_img_margin_bottom=40
PTGLgraphComputation_B_complex_graphs=false
PTGLgraphComputation_B_output_compgraph_PTGLgraphComputation=false
PTGLgraphComputation_I_spatrel_dd_smallest_parallel_ee=1
PTGLgraphComputation_S_coilSSECode=C
PTGLgraphComputation_B_AAgraph_allchainscombined=false
PTGLgraphComputation_B_graphimg_legend_always_all=false
PTGLgraphComputation_B_AAgraph_perchain=false
PTGLgraphComputation_B_search_similar=false
PTGLgraphComputation_B_complex_graph_same=false
PTGLgraphComputation_B_graphtype_betalig=true
PTGLgraphComputation_B_output_compgraph_eld=false
PTGLgraphComputation_B_merge_helices=true
PTGLgraphComputation_B_folding_graphs=false
PTGLgraphComputation_B_print_contacts=false
PTGLgraphComputation_I_lig_max_atoms=-1
PTGLgraphComputation_I_img_footer_height=180
PTGLgraphComputation_I_lig_atom_radius=30
PTGLgraphComputation_B_output_textfiles_dir_tree_core_html=false
PTGLgraphComputation_I_img_minPageHeight=600
PTGLgraphComputation_B_output_compgraph_GML=false
PTGLgraphComputation_S_search_similar_chainID=A
PTGLgraphComputation_B_foldgraphtype_ADJ=true
PTGLgraphComputation_B_include_coils=false
PTGLgraphComputation_B_key_foldinggraph_arcs_allways_black=false
PTGLgraphComputation_B_add_metadata_comments_GML=false
PTGLgraphComputation_B_graphtype_alphalig=true
PTGLgraphComputation_B_graphimg_header=true
PTGLgraphComputation_I_max_contacts_per_type=100
PTGLgraphComputation_I_img_min_img_height=160
PTGLgraphComputation_B_SSEcontactsAtom=true
PTGLgraphComputation_I_spatrel_dd_largest_antip_hh=-8
PTGLgraphComputation_B_no_warn=false
PTGLgraphComputation_B_forceBackboneContacts=false
PTGLgraphComputation_I_spatrel_dd_largest_antip_he=-6
PTGLgraphComputation_S_output_dir=.
PTGLgraphComputation_B_Jmol_graph_vis_resblue_commands=true
PTGLgraphComputation_B_write_lig_geolig=true
PTGLgraphComputation_I_debug_level=0
PTGLgraphComputation_B_output_textfiles_dir_tree_html=false
PTGLgraphComputation_B_useDB=true
