 
/*

My Custom CSS
==============

Author:		Andreas Scheck
Updated:	December 2013
Notes: 		Hand coded for www.vplg.org

*/


/*	-------------------------------------------------------------
	Layout
	-----------------------------------------------------------*/
	html, body {
		height: 100%;
		color: #0D0D0D;
	}



	/* still needs to be modified */	
	#customBackground {
	background-color: #A2A2A2;
	
  		background: -moz-radial-gradient(center, circle, #A2A2A2 40%, #434142 100%);
		background: -webkit-radial-gradient(center, circle, #A2A2A2 40%, #434142 100%);
		background: -ms-radial-gradient(center, circle, #A2A2A2 40%, #434142 100%);
		background: -o-radial-gradient(center, circle, #A2A2A2 40%, #434142 100%);
			
	}
	
	
	
	/* Wraps the whole file so the footer can be put into the correct position */
	#wrapper {
              position:relative;
              width:100%;
              min-height:100%;
              height:100%;
              margin:40px auto;
			  
		}
	 
	/* Effects things that are inside the footer */
	footer {
		 background-color: #343434;
		 color: #636262;
		 font-size: 11px;
		 padding-top: 20px;
		 padding-bottom: 10px; 
		 margin-top: 60px;
		 }
		 
	
	/* Works together with the wrapper so the footer can be put into the correct position */	 
	
	#footer {
        position:relative;
        width:100%;
        height: 100px;   
        margin:-50px auto 0;
		}

	
	/* Horizonzal line separating the different topics */
	.line {
		border :none;
		background-color:#FFFFFF;
		height: 4px;
		}

	/* All the different line colors for the different topics */
	#lineAbout {
		background-color: #0A7B83;
		}	
	
	#lineUserGuide {
		background-color: #2AA876;
		}	
		
	#lineDatabaseFormat {
		background-color: #FFD265;
		}	
	
	
	/* Positioning of the circle/icon */
	.iconPos {
		left: 50%;
		position: absolute;
		}

	#iconAbout {
		margin-top: -50px;
		}
	
	#iconUserGuide {
		margin-top: -50px;
		}
		
	#iconDatabaseFormat {
		margin-top: -50px;
		}
	
	
	
	.textWrapper {
		margin-top: -15%;
		}
	
	/* Make space for the text in the topics */
	#text {
		margin-top: 20px;
		margin-bottom: 80px;
		}
/*	-------------------------------------------------------------
	Typography
	-----------------------------------------------------------*/
	
	
	
	
/*	-------------------------------------------------------------
	Navbar
	-----------------------------------------------------------*/
	
	#navColor {
		background-color: #343434;
		}
	
	
	.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
		background-color: #2e2f30;
		color: #ffffff;
	
	}
	
	
	.active {
		background-color: #000000;
		}
	
	.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
		background-color: #2e2f30;
		color: #ffffff;
		}
		
	.nav > li > a:hover, .nav > li > a:focus {
		background-color: #2e2f30;
		color: #ffffff;
		}
		
	.navbar-nav > li > a {
		color: #636262;
  		}
		
	
	.navbar-brand {
		padding: 13px 15px;	
		}
	
	.navbarFont {
		font-size: larger;
		}

	
/*	-------------------------------------------------------------
	Search
	-----------------------------------------------------------*/
	#searchInput {
		width: 220px;
		}
		
	
	
	.col-centered {
		margin: auto auto auto auto;
		float: none;
		}
	
	#search {
		padding-top: 10%;
		padding-right: auto;
		padding-left: auto;
		}
	#searchButton {
		margin-left: 4px;
	}
	
	
	.input-group {
		margin-left: auto;
		margin-right: auto;
	}
		
	.col-lg-3 {
		width: auto;
		}
		
	
	.additional {
		margin: 18px 30% 30px;
		width: 100%;
		}
	#inlineCheck {
		margin-left: 9%;
		margin-bottom: 30px;
	}
		
	/* Search results page */
	
	#searchResults {
		margin-top: 30px;
		}
		
	.resultsOrange {
		background: #f2bf9d;
		}
	
	.resultsWhite {
		background: #d9d9d9;
		}
	
	.tableName {
		font-size: 1.7em;
		font-weight: bold;
		}
		
	.tableCategories {
		font-weight: bold;
		}
	
